# Enable aliases to be sudo’ed
alias sudo='sudo '

# ------------------------------------------------------------------------------
# | Navigation |
# ------------------------------------------------------------------------------

alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cd..="cd .."

alias dl="cd ~/Downloads/"

# ------------------------------------------------------------------------------
# | ls |
# ------------------------------------------------------------------------------

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias ll="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# ------------------------------------------------------------------------------
# | Time and date |
# ------------------------------------------------------------------------------

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# ------------------------------------------------------------------------------
# | Shorter Commands |
# ------------------------------------------------------------------------------
alias c="clear"
alias ch="history -c && > ~/.bash_history"
alias m="man"
alias reboot="systemctl reboot"
alias suspend="systemctl suspend"
alias poweroff="sudo su -c 'yum -y update' && systemctl poweroff"

# ------------------------------------------------------------------------------
# | Network |
# ------------------------------------------------------------------------------

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig | grep 'inet' | grep -v '127.0.0.1' | cut -d: -f2 | cut -d' ' -f10"

#───────────────────────────────────────────────────────────────────────────────
# Stats
#───────────────────────────────────────────────────────────────────────────────
alias df='df -h'
alias du='du -h -d 2'
alias battery='upower -i `upower -e | grep \'BAT\'`'
alias cpu-temp='sensors | grep "Physical" | cut -c35-40'

# ------------------------------------------------------------------------------
# | Git |
# ------------------------------------------------------------------------------

alias grhard='git reset --hard HEAD'
alias grh='git reset HEAD'
alias ga='git add'
alias gaa='ga -A'
alias gps='git push'
alias gl='git log'
alias glg="git log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
alias gs='git status'
alias gd='git diff'
alias gm='git commit -m'
alias gma='git commit -am'
alias gb='git branch'
alias gc='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gpl='git pull'
alias gcl='git clone'
alias gf='git fetch'
alias gg='git grep'
alias gre='git rebase'
alias gme='git merge'

