'*':
  'editor':
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontSize: 15
    lineHeight: 1.45
    scrollPastEnd: true
    preferredLineLength: 120
  'core':
    'themes': [
      'solarized-dark-ui'
      'solarized-dark-syntax'
    ]
  'hideGitIgnoredFiles': true
  'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
      '**/nodes_modules/*'
      '**/bower_components/*'
    ]
  'welcome':
    'showOnStartup': false
  "save-session":
    dataSaveFolder: "/home/pidupuis/.atom/packages/save-session/projects"
  "linter-pep8":
    maxLineLength: 120
