'*':
  'editor':
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontSize: 16
    lineHeight: 1.45
    scrollPastEnd: true
    preferredLineLength: 120
  'hideGitIgnoredFiles': false
  'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
      '**/nodes_modules/*'
      '**/bower_components/*'
      '**/build/*'
    ]
  'welcome':
    'showOnStartup': false
