'global':
  'core':
    'themes': [
      'solarized-dark-ui'
      'solarized-dark-syntax'
    ]
    'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
    ]
  'welcome':
    'showOnStartup': false
  'editor':
    'invisibles': {}
